@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --primary-color: #003536;
    --primary-variant: #306165;
    --color-gray-0: #fff;
    --color-gray-100: #eee;
    --color-gray-200: #ccc;
    --color-gray-300: #bbb;
    --color-gray-400: #999;
    --color-gray-500: #777;
    --color-gray-600: #555;
    --color-gray-700: #333;
    --color-gray-800: #111;
    --color-gray-900: #000;
    --color-danger: rgb(246, 67, 67);
    --color-success: rgb(6, 164, 101);

    --radius-1: 0.4rem;
    --radius-2: 0.8rem;
    --radius-3: 1.2rem;
    --radius-4: 1.6rem;
    --radius-5: 2rem;

    --container-w-lg: 80%;
    --container-w-sm: 94%;

    --transition: all 300ms ease;
    }

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    border: 0;
    text-decoration: none;
}

.dark {
    --color-gray-0: #0e0d14;
    --color-gray-100: #2f2b42;
    --color-gray-200: #45405e;
    --color-gray-300: #7b7b7b;
    --color-gray-400: #919191;
    --color-gray-500: #a1a1a1;
    --color-gray-600: #c0c0c0;
    --color-gray-700: #e6e5e5;
    --color-gray-800: #fafafa;
    --color-gray-900: #ffffff;
    }

body {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 0.9rem;
    background: var(--color-gray-100);
    color: var(--color-gray-700);
    line-height: 1.6;
}

.container {
    width: var(--container-w-lg);
    margin-inline: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.1;
    color: var(--color-gray-900);
    text-transform: uppercase;
    font-weight: 800;
}

h1 {
    font-size: 1.6rem;
} 

h2 {
    font-size: 1.3rem;
} 

h3 {
    font-size: 1.1rem;
}

h4 {
    font-size: 0.9rem;
}

h5 {
    font-size: 0.75rem;
}

h6 {
    font-size: 0.6rem;
}

a {
    font-size: 0.8rem;
}

img {
    display : block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button {
    cursor: pointer;
}

.btn {
    width: fit-content;
    background: var(--color-gray-100);
    color: var(--color-gray-900);
    font-weight: 600;
    padding: 1rem 2rem;
    text-align: center; 
    border-radius: var(--radius-1);
    transition: var(--transition);
}

.btn.primary {
    background: var(--primary-color);
    color: white;
}

.btn.danger {
    background: var(--color-danger);
    color: white;
}

.btn.sm {
    padding: 0.5rem 1.2rem;
}

.btn.full {
    width: 100%;
}

.btn:hover {
    background: var(--color-gray-900);
    color: var(--color-gray-0);
}


/* ======== ERROR PAGE ======== */

body .errorPage {
   display: grid;
   place-items: center;
   height: 100vh;
   width: 100vw;
   padding: 0 1rem; 
   background: var(--color-gray-0);
   h1 {
        font-size: 4rem;
   }
   text-align: center;
   line-height: 2;
}   



/* ======== NAVBAR ======== */
nav {
    background-color: var(--primary-color);
    display: grid;
    place-items: center;
    height: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
}

.nav__container *{
    color: white;
}

.nav__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__container div {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.nav__logo {
    font-size: 1.2rem;
    font-weight: 800;
}

.nav__toggle-btn {
    background: transparent;
    font-size: 1.8rem;
    display: none;
}

.nav__container a{
    transition: var(--transition);
}

.nav__container a:hover {
    color: var(--primary-variant);
}

.nav__container menu {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.theme__toggle-btn {
    background: transparent;
    font-size: 1.5rem;
    display: flex;
    transition: var(--transition);
}

.theme__toggle-btn:hover {
    opacity:0.75;
}


/* ======== REGISTER ======== */

.register {
    display: grid;
    place-items: center;
    height: 100vh; 
    padding: 4rem 4rem;
}

.register__container {
    width: 35rem;
    max-width: 30rem;
    padding: 3rem;
    background: var(--color-gray-0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: var(--radius-5);
}

.register__container h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: var(--primary-color);
}

.register form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.register form input {
    padding: 0.7rem;
    background: var(--color-gray-100);
    border: 1px solid var(--color-gray-200);
    border-radius: var(--radius-1);
    color: var(--color-gray-900);
}

.register form p > a {
    color: var(--primary-color);
    font-weight: 600;
    transition: var(--transition);
}

.form__error-message {
    background: var(--color-danger);
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color: var(--color-gray-0);
    padding: 0.6rem 1.5rem;
    border-radius: var(--radius-1);

}

.form__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}


/* ================== RESULTS ================== */

.results {
    margin: 5rem 0;
    width: 70rem;
    margin-inline: auto;
}

.results__container {
    display: flex;
    flex-direction: column;
}

.result {
    background: var(--color-gray-0);
    border-radius: var(--radius-4);
    margin-bottom: 1.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.result__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-gray-100);
    border: 0.5rem solid var(--color-gray-0);
    border-radius: 1.5rem 1.5rem 0 0;
}

.result__header-image {
    width: 3rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 1.5rem;
}

.result__header h4{
    padding: 1.5rem;
}

.result__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    padding-top: 1rem;  
}

.result__candidate {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.result__candidate-image {
    height: 3.5rem;
    aspect-ratio: 1/1;
    border-radius: 1rem;
    overflow: hidden;
}

.result__candidate-info {
    width: 100%;
}

.result__candidate-rating {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

.result__candidate-loader {
    display: block;
    width: 100%;
    height: 0.4rem;
    background: var(--color-gray-100);
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    overflow: hidden;
}

.result__candidate-loader span {
    background: linear-gradient(90deg, var(--primary-color), var(--primary-variant));
    height: 100%;
    display: block;
}










/* ======== MEDIA QUERIES (small screen) ======== */
@media screen and (max-width: 600px) {
    .container {
        width: var(--container-w-sm);
    }

    nav{
        gap: 3rem;
    }

    .nav__toggle-btn {
        display: inline-block;
    }

    .nav__container menu {
        position: fixed;
        top: 4rem;
        right:0;
        gap: 0;
        width: 12rem;
    }

    .nav__container menu a {
        background: var(--color-gray-0) ;
        color: var(--color-gray-900);
        border-bottom: 1px solid var(--color-gray-200);
        width: 100%;
        display: grid;
        place-items: center;
        height: 4rem;
        box-shadow: -2rem 4rem 2rem rgba(0, 0, 0, 0.1);

    }

    .errorPage__container {
        width: 100%;
    }
    
    .register__container {
        width: 100%; /* ose min(90%, 30rem) */
        padding: 2rem;
    }

    .form__row {
        grid-template-columns: 1fr; /* 1 kolonë për mobile */
    }

    .register form input,
    .register form button {
        width: 100%; /* full width për mobile */
    }

    .results {
        width: var(--container-w-sm);

    }

  

}

